{% extends "base.html" %}

{% block content %}
    <br>
    <h2>Create an Account</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="text-danger">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            {{ form.confirm_password(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}